<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form>
      Op1 <input type="text" name="" value=""><br>
      Op2 <input type="text" name="" value=""><br>
      <button type="button" name="button">+</button>
      <button type="button" name="button">-</button>
      <button type="button" name="button">*</button>
      <button type="button" name="button">/</button>
      <div class="">
        bienvenido a la calculadora 30000
      </div>
    </form>
  </body>
</html>
