<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table, tr, td {
        border: 1px solid black;
      }
      table {
        border-collapse: collapse;
      }

      thead {
        color: white;
        background-color: black;
      }
    </style>
  </head>
  <body>
    <h1>{{ pregunta.question_text }}</h1>

    {% if error %}
      <h2 style="background-color: red;">{{ error }}</h2>
    {% endif %}

    <table>
      <thead>
        <tr>
          <td>Opción</td>
          <td>Nº votos</td>
        </tr>
      </thead>
      <tbody>
        {% for op in pregunta.choice_set.all %}
        <tr>
          <td>{{ op.choice_text }}</td>
          <td>{{ op.votes }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <form action="{% url 'vote' pregunta.id %}" method="post">
    {% csrf_token %}
    {% for choice in pregunta.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
    <input type="submit" value="Vote">
    </form>

  </body>
</html>
